.container {
  width: 300px;
  border: 3px solid lightblue;
}

/*
 * float 속성은 컨테이너 왼쪽/오른쪽에 요소를 배치하여 텍스트 및 인라인 요소가 주위를 둘러쌀 수 있도록 함
 * 요소는 페이지의 정상적인 흐름에서 제거되지만 여전히 흐름 일부로 남음
 * 다만, 요즘엔 웹 페이지에서 레이아웃을 만들기 위해 Flexbox 및 Grid 도구를 선호.
 */
.container img {
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 5px;
  border: 2px solid lightpink;
}

.container div {
  padding: 10px;
  border: 3px solid red;
  /*
   * float의 영향을 받지 않도록 하는 속성
   * 이는 float 속성을 사용하고 다음 요소를 원할 때 clear 속성을 사용해야 함.
   * clear 속성은 float 요소 옆에 있는 요소에 어떤 일이 발생해야 하는 지 지정해야 함.
   * clear 속성 값
   * - none : 기본값으로 요소가 왼쪽/오른쪽 부동 요소 아래로 푸시되지 않음.
   * - left/right : 요소가 왼쪽/오른쪽 부동 요소 아래로 푸시
   * - both  : 요소가 왼쪽 및 오른쪽 부동 요소 아래로 푸시
   * - inherit : 요소는 부모로부터 clear 값을 상속함.
   */
  clear: right;
}
